#page_wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* RESET HTML STYLES */
*{
margin: 0px;
padding: 0;
box-sizing: border-box;
}

a { color: inherit;
text-decoration: none;
}

ul {list-style: none;}


/* NAVBAR Styles */

.navbar_band {
	display: flex;
	margin: auto;
	padding: 0 30px;
	height: 70px;
	
}

.navbar {
	width: 100%;
	background-color: white;
	margin: auto;
	align-items: center;
	text-align: center;	
}

.logo {
display: flex;
align-items: center;
}

.logo_img {
height: 60px;
}

.navbar ul{
	padding: 0px;	
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 80%;
}

.navbar a{
	color: #0097b2;
	font-family: Perpetua, Georgia, serif;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;	
}

.navbar a:hover {
	color: #14496d;
}

/* BASE STYLES */

body { 	margin-right: 0%; 
	margin-left: 0%;
	background-color: #ebf4f7;
}
img {	display: block;
	max-inline-size: 100%;
}
h1 {	font-family: "Pretty Dahlia", cursive;
	font-weight: normal;
	font-size: 60px;
	padding: 20px;
	text-align: center;
	color: #003333;
}
h2 {	font-family: "Pretty Dahlia", cursive;
	font-weight: normal;
	font-size: 75px;
	padding: 20px;
	text-align: center;
	color: #003333;
}
h3 {	font-family: Perpetua, Georgia, serif;
	font-weight: bold;
	font-size: 35px;
	padding: 10px;
	text-align: left;
	color: #003333;
}
h4 {	font-family: Perpetua, Georgia, serif;
	font-weight: bold;
	font-size: 35px;
	padding: 10px;
	text-align: right;
	color: #003333;
}

p {	font-family: garamond, serif;
	font-size: 20px;
	padding: 10px;
}

footer {clear: left; 
	clear: right;
	padding: 5px;
	padding-top: 50px;
}

footer p { 
	font-family: verdana, sans-serif;
	font-size: 10px;
	padding: 2px;
}

footer a { font-weight: bold; }


/* SLIDER STYLE */

#slider { overflow: hidden; }

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#slider figure img {
	float: left;
	width: 20%;
}


@keyframes slider {
	0% 	{ left: 0; }
	20%	{ left: 0; }
	25%  	{ left: -100%; }
	45%  	{ left: -100%; }
	50% 	{ left: -200%; }
	70% 	{ left: -200%; }
	75%  	{ left: -300%; }
	95%  	{ left: -300%; }
	100% 	{ left: -400%; }
}



/* HOME PAGE CONTENT */
#introduction {
	float: left;
	width: 35%;
	padding: 20px;
}
#carousel {
	float: left;
	padding: 0px;
	width: 65%;
}

/* PHOTO GRID */
.container {
	width: 99%;
	margin: auto;
}
.photo-gallery {
	display: flex;
	gap: 2px;
}
.column {
	display: flex;
	width: 33%;
	flex-direction: column;
	gap: 2px;

}
.grid-photo img {
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	justify-content: space-evenly;
}
@media(max-width: 768px) {
   .photo-gallery { flex-direction: column; }
}


/* SESSIONS CONTENT */

.sessions {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.session-a {
 	display: flex;
	float: left;
	width: 90%;
	padding: 20px;
	text-align: left;
	align-items: center;
	margin-left: 10%;	
}
.session-b {
	display: flex;
	float: left;
	width: 90%;
	padding: 20px;
	text-align: right;
	align-items: center;
	margin-left: 10%;

}
.session-text {
	float: left;
	width: 50%;
}
.session-a img {
	float: left;
	padding: 0;
}

.sessions h3 {
	text-align: center;
}
.sessions a {
	font-weight: bold;
	color: #0097b2;
}


/* ABOUT ME CONTENT */

#bio {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 25px;
}
#headshot {
	float: left;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0px;
	margin: auto;
	align-items: center;
}

#biocontent {
	display: flex;
	gap: 5px;
	
	width: 60%;
	align-items: center;
	margin-top: 50px;
}

#approach {
display: flex;
	flex-direction: column;
	gap: 5px;
	clear: left;
	margin-right: 20%;
	margin-left: 20%;
	padding-top: 25px;
}


/* CONTACT FORM */

.contact-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.contact-inputs {
	background-color: white;
	color: #003333;
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;
	border-radius: 50px;
}

.contact-form textarea {
	height: 140px;
	padding-top: 15px;
	border-radius: 20px;
}

.contact-inputs::placeholder {
	color: #003333;
	font-family: verdana, sans-serif;
}
.contact-form button {
	display: flex;
	align-items: center;
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	gap: 10px;
	border: none;
	border-radius: 50px;
	background: #003333;
	outline: none;
  	cursor: pointer;
}



